@inherits UmbracoTemplatePage

<p>
    <strong>
        Voorzitter
    </strong>
</p>
<p>
    <a href="mailto:raymond.gevaert@fipf.org">Raymond Gevaert</a>
</p><br/>

<p>
    <strong>
        Ondervoorzitter
    </strong>
</p>
<p> Contact Formacom</p>
<p>
    <a href="mailto:nceulemans@gmail.com">nceulemans@gmail.com</a>
</p><br/>

<p>
    <strong>
        Secretaris
    </strong>
</p>
<p>
    <a href="mailto:daniel-leroy@telenet.be">daniel-leroy@telenet.be</a>
</p><br/>

<p>
    <strong>
        Penningmeester
    </strong>
</p>
<p>
    <a href="mailto:giedocus@scarlet.be">Giedo Custers</a>
</p><br/>

<p>
    <strong>
        Redactiesecretariaat tijdschrift "Profff"
    </strong>
</p>
<p>
    <a href="mailto:j.depessemier@skynet.be"> j.depessemier@skynet.be</a>
</p><br/>

<p>
    <strong>
        Redactielid tijdschrift & Formaprim
    </strong>
</p>
<p>
    <a href="mailto:mde_regge@hotmail.com">mde_regge@hotmail.com</a>
</p><br/>

<p>
    <strong>
        Infos & Communicatie
    </strong>
</p>
<p>
    <a href="mailto:claudinederockere@gmail.com">claudinederockere@gmail.com</a>
</p><br/>

<p>
    <strong>
        Pub & Sponsoring
    </strong>
</p>
<p>
    <a href="mailto:jacqueseichperger@hotmail.com">jacqueseichperger@hotmail.com</a>
</p><br/>

<p>
    <strong>
        Organisatie studiedag
    </strong>
</p>
<p>
    <a href="mailto:bvlf.studiedag@gmail.com">Ann Scheiris</a>
</p><br/>

<p>
    <strong>
        Week van de Franse film
    </strong>
</p>
<p>
    <a href="mailto:luc.van.kerchove@skynet.be">luc.van.kerchove@skynet.be</a>
</p>