@inherits UmbracoTemplatePage


<div class="col-md-12">


    <h2>Partners - Sponsors </h2>

    <a href="http://www.diekeure.be" target="_blank" alt="Die keure">
        <img src="/media/33299/diekeure_logo_20x10cm.png" alt="Die Keure"/>
    </a>

    <a href="http://www.deboeck.com/" target="_blank" alt="De Boeck">
        <img src="/media/33293/logo_De-Boeck.png" alt="De Boeck"/>
    </a>
    <a href="http://talenland.nl/" target="_blank" alt="Intertaal">
        <img src="/media/33294/logo_talenland.png" alt="Talenland"/>
    </a>

    <a href="http://intertaal.be/" target="_blank" alt="Intertaal">
        <img src="/media/33295/logo-Intertaal.png" alt="Intertaal"/>
    </a>

    <a href="http://www.vanin.be" target="_blank" alt="Van In">
        <img src="/media/33297/logo_vanin.png" alt="Van In"/>
    </a>

    <a href="http://www.plantyn.com" target="_blank" alt="plantyn">
        <img src="/media/33298/plantyn-logo.png" alt="plantyn"/>
    </a>
    <a href="http://roeland.be/" target="_blank" alt="Roeland">
        <img src="/media/33300/logoroeland.jpg" alt="Roeland"/>
    </a>

    <a href="http://pelckmans.be/" target="_blank" alt="Pelckmans">
        <img src="/media/33296/logo-pelckmans.png" alt="Pelckmans"/>
    </a>
</div>