@inherits UmbracoTemplatePage
<div id="Footer">

    <div class="container">
        <div class="col-md-4">
            <h3>ProFFF</h3>
            @Umbraco.RenderMacro("FooterNavigation")
        </div>

        <div class="col-md-4"></div>

        <div class="col-md-4"></div>

    </div>

</div>