@using bvlf_v2.Controllers
@model bvlf_v2.Models.ForgotPasswordViewModel


@if (!Model.MailSent)
{
    using (Html.BeginUmbracoForm<MembershipController>("HandleForgotPassword", FormMethod.Post, new {id = "HandleForgotPassword"}))
    {
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2 text-right">@Html.LabelFor(p => p.Email)</div>
            <div class="col-md-2">@Html.TextBoxFor(p => p.Email)</div>
            <div class="col-md-2">@Html.ValidationMessageFor(p => p.Email)</div>
            <div class="col-md-4"></div>

        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <input type="submit" value="Verzenden"/>
            </div>

        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">

            Een email met uw paswoord werd u toegestuurd. <br/>
            Controleer uw email. Kijk ook zeker uw spam-folder na. <br/>


        </div>

    </div>
}