<?xml version="1.0" encoding="utf-8"?>

<newsletterStudio senderDefaultName="" senderDefaultEmail=""
                  senderDefaultSettingsForced="false" unsubscribeConfirmUrl=""
                  tinyMCEDataTypeId="0" sendFailuresBeforeUnsubscribingSubscriber="4"
                  settingsOnlyForAdmins="false" forceUnsubscribeFooter="false"
                  enableGoogleAnalyticsTracking="false" googleAnalyticsMedium="email"
                  allowedTemplatesForRenderUrl="" googleAnalyticsSource="NewsletterStudio"
                  googleAnalyticsName="" googleAnalyticsContent="" lastInstalledVersion="">
  <outgoingEmail sendConnectionTestEmailsTo="newsletter@enkelmedia.se"
                 throttlingEnabled="false" throttlingMessagesPerBatch="100"
                 throttlingSecondsBetweenBatches="0" messagesBeforeJumpingToNextServer="250">
    <smtpServers>
      <clear />
    </smtpServers>
  </outgoingEmail>
  <bounceManagement enabled="false" email="" host="" port="0" username=""
                    password="" />
  <emailRenderingTasks>
    <clear />
  </emailRenderingTasks>
  <subscriptionProviders>
    <clear />
  </subscriptionProviders>
</newsletterStudio>